body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: larger;
}

.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  color: #52575C;
}

.App label {
  font-weight: 700;
  font-size: 16px;
  color: #52575C;
}

.App p {
  font-weight: 400;
  font-size: 12px;
  color: #ed0131;
  margin: 0%;
}

.form-control {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #F8FAFC;
  width: 460px;
  height: 30px;
  border-radius: 4px;
  padding: 12px;
  gap: 10px;
  border: inherit;
}

button {
  width: 82px;
  height: 32px;
  margin-top: 16px;
  border-radius: 6px;
  padding: 4px, 16px, 4px, 16px;
  background-color: #0048D9;
  border: inherit;
  color: #FFF;
}

button:hover {
  background-color: #002266;
}
